/* general  font settings and colors*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform:full-width;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  justify-content: center;
}

body {
  background-color: #ffdee9;
  background-image: linear-gradient(90deg, #ffdee9 0%, #b5fffc 100%);
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
}
.content {
  min-height: calc(100vh - 120px)!important;
  
}


/* navigation  */



.navigation {
  background-image: linear-gradient(
    92.6deg,
    rgb(5, 108, 131) 0.6%,
    rgb(129, 156, 156) 153.1%
  );
}
#signout {
  display: none;
}
.icons {
  margin-top: 0px;
}
nav.nav-wrappper {
  margin-bottom: 0px;
}
.logopng {
  mix-blend-mode: lighten;
  width: 180px;

}

  #cart-icon {

    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  
  
  #badge {
    position: absolute;
    display: none;
    top: 4px;
    right: 10px;
   width: 20px;
    border-radius: 100%;
    background: red;
    color: white;
  }

.search-box {
  display: flex;
  align-items: center;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}



/* carousel*/



.carousel {
  height: 500px;
  perspective: 600px;
  transform: translateY(-120px);
}

.carousel .carousel-item {
  cursor: pointer;
  width: 550px;
}

.carousel .carousel-item:active {
  cursor: grabbing;
  height: 1rem;
}

.carousel .carousel-item img {
  width: 90%;
  height: 60vh;
  border-radius: 10px;
}

.carousel .carousel-item h3 {
  background-color: #ffffff;
  color: #000000;
  font-size: 2em;
  font-weight: bold;
  margin: -5px 0 0;
  padding: 1px 5px;
  text-align: center;
}



/* mouse animation */



.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  bottom: 10px;
  margin-top: -35px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: rgb(0, 0, 0);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(26px);
  }
}


/* What is crafira content */


.what-is-crafira {
  background-image: linear-gradient(
    92.6deg,
    rgb(5, 108, 131) 0.7%,
    rgb(129, 156, 156) 153.1%
  );
  border: black 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px;
}
.modal {
  top: 6% !important;
  max-height: 99%;
}
/* gain Responsive  */

.heading {
  font-size: 44px;
  font-weight: 500;
  color: bla;
}

/* footer */

.footer {
  background: #373f51;
  bottom: 10px;
}

.footer-bottom {
  background: #1b1b1e;
  width: cover;
  text-align: center;
  height: 30px;
}
.loging {
  width: 60px;
  border: 3px solid white;
  border-radius: 900px;
  margin-top: 15px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

/* responsive works done here */

@media only screen and (max-width: 600px) {
  .circle {
    width: 100px;
    height: 100px;
  }
  .search-box {
    height: 45px;
    padding: 10px;
  }
  .logopng {
    margin: 8px 20px;
    width: 230px;
  
  }
  .modal {
    top: 3% !important;
    max-height: 98% !important;
  }
  .heading {
    font-size: 29px;
    font-weight: 500;
  }

  .cards-container {
    top: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .nav-content {
    display: none;
  }
  .search-box {
    height: 55px;
    margin-top: 19px;
  }
  .logopng {
    margin: 5px 10px;
  }
  .circle {
    width: 100px;
    height: 100px;
  }
  .modal {
    top: 1% !important;
    max-height: 9;
  }
  .heading {
    font-size: 50px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 992px) {
 
  .search-box {
    height: 45px;
    margin-top: 10px;
  }
  .logopng {
    margin-left: 150px;
  }
}
