
.circle {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}

.shop-list {
  justify-self: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 8px 8px 8px #437c90;
}

/* responsive grid */
@media (max-width: 992px) {
  .circle {
    height: 150px;
    width: 150px;
  }
 
}


@media (max-width: 600px) {
  .circle {
    height: 100px;
    width: 100px;
  }

  .circle {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
  }


}
